
.quick-links{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 50px;
  font-size: 1.1em;
}

.answers{
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 4px groove #cccccc;
}
.temp{
  display: flex;
  font-size: smaller;
}
img{
  display: block;
  border: 2px solid black;
}
img.support_img{
  max-width: 75%;
}
img.mid{
  margin-left: auto;
  margin-right: auto;
}

a:link {
  text-decoration: none;
  color: #004f98;
}

a:visited {
  text-decoration: none;
  color: #004f98;
}

a:hover {
  text-decoration: none;
  color: #ffab00
}

a:active {
  text-decoration: underline;
}

#printers td, #printers th{
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 8px;
}
#printers th {
  background-color: #002754;
  color: white;
}
